# ================================
# Python
# ================================

__pycache__/
*.py[cod]
*$py.class

# ================================
# Virtual Environment
# ================================

venv/
.venv/
env/
ENV/

# ================================
# Jupyter Notebook
# ================================

.ipynb_checkpoints/

# ================================
# Environment Variables
# ================================

.env

# ================================
# VS Code
# ================================

.vscode/

# ================================
# OS Files
# ================================

.DS_Store
Thumbs.db

# ================================
# TensorFlow / Keras
# ================================

*.log

# ================================
# Temporary Files
# ================================

*.tmp
*.temp